@font-face {
    font-family: "Studio-Fexian-Sans";
    src: url("/Fonts/StudioFeixenSansTRIAL-Medium.ttf");
}

.app{
    font-family: "Studio-Fexian-Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}